<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://code.jquery.com/jquery-1.7.js"></script>
    <script>
        $(document).ready(function(){
            $('button').eq(0).click(function(){
                year = $('input[name='year]').val()
                month = $('input[name='year]').val()
            }
        });
    </script>
</head>
<body>
    <h1>aj01</h1>
    <input type="number" name="year">
    <input type="number" name="month">
    <button>DATA1</button>
    <button>DATA2</button>
    <button>DATA3</button>
</body>
</html>